<ion-content>
  <div class="flex flex-col h-full">
    <form
      (ngSubmit)="submit()"
      [formGroup]="loginForm"
      class="flex justify-center items-center grow p-4 flex-col gap-5"
    >
      @if (globalError && loginForm.untouched) {
        <l-ui-message type="error">
          @switch (globalError) {
            @case ('invalid-credentials') {
              {{ 'feature.account-add.login.errors.invalid-credentials' | translate }}
            }

            @case ('unknown-error') {
              {{ 'shared.errors.unknown' | translate }}
            }
          }
        </l-ui-message>
      }

      <l-ui-form-input-text
        [label]="'feature.account-add.login.identifier' | translate"
        class="w-full"
        formControlName="identifier"
        id="identifier"
      />

      <l-ui-form-input-password
        [label]="'feature.account-add.login.password' | translate"
        class="w-full"
        formControlName="password"
        id="password"
      />

      <l-ui-button
        [disabled]="loginForm.invalid"
        [loading]="connecting"
        type="submit"
      >
        {{ 'feature.account-add.login.add-account' | translate }}
      </l-ui-button>
    </form>

    <div [class]="['text-center bg-highlight py-4', { 'bg-transparent': !connecting || !loginStatus }] | cls">
      @if (connecting && loginStatus) {
        @switch (loginStatus) {
          @case ('connecting') {
            {{ 'feature.account-add.login.connecting.connecting' | translate }}
          }

          @case ('fetching-profile') {
            {{ 'feature.account-add.login.connecting.fetching-profile' | translate }}
          }

          @case ('adding-account') {
            {{ 'feature.account-add.login.connecting.adding-account' | translate }}
          }

          @case ('connected') {
            {{ 'feature.account-add.login.connecting.connected' | translate }}
          }
        }
      } @else {
        &nbsp;
      }
    </div>
  </div>
</ion-content>
